* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    font-size: 16px;
    color: white;
}

body {
    background-color: #FEF9E1;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #A31D1D;
    padding: 2rem 1rem;
    position: fixed;
    z-index: 1000;
    background-color: #FEF9E1;
    width: 100%;
    height: 100px;
}

.headingLogo {
    padding-left: 2rem;
}

.heading h1 {
    font-size: 2rem;
    color: #A31D1D;
    margin-bottom: 0.5rem;
}

.heading h2 {
    font-size: 1.5rem;
    color: #A31D1D;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 10rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #A31D1D;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #fff;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: #fff;
    color: #A31D1D;
    border: 1px solid #A31D1D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
    gap: 4rem;
    width: 100%;
    max-width: 1400px;
    position: relative;
    top: 100px;
}

.about-container img {
    border-radius: 10px;
    width: 300px;
    border: 2px solid #A31D1D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-info {
    background-color: #A31D1D;
    padding: 2rem;
    border-radius: 10px;
    line-height: 1.5;
}

.about-info h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.project {
    background-color: #A31D1D;
    width: 100%;
    margin-top: 4rem;
    position: relative;
    top: 100px;
    padding: 6rem 2rem;
}

.project-heading {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.project-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 2rem;
}

.project-list img {
    border-radius: 10px;
    border: 2px solid #A31D1D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 600px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FEF9E1;
    padding: 2rem;
    border-radius: 10px;
    color: #A31D1D;
    width: 400px;
    height: 800px;
}

.project-item h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.project-item p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 2rem;
    gap: 4rem;
    width: 100%;
    max-width: 1400px;
    position: relative;
    top: 100px;
    color: #FEF9E1;
}

.skills-heading {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    background-color: #A31D1D;
    padding: 2rem 4rem;
    border-radius: 10px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-item {
    background-color: #A31D1D;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.skill-item i {
    font-size: 3rem;
    color: #FEF9E1;
}

.contact {
    padding: 10rem 2rem 5rem 2rem;
    text-align: center;
    color: #A31D1D;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 600px;
    padding: 0.5rem;
    border: 2px solid #A31D1D;
    border-radius: 10px;
    font-size: 1rem;
    color: #A31D1D;
}

.contact-form button {
    background-color: #A31D1D;
    color: #FEF9E1;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
    background-color: #FEF9E1;
    color: #A31D1D;
    border: 2px solid #A31D1D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-item i {
    font-size: 3rem;
    color: #A31D1D;
    margin-bottom: 1.5rem;
}
.contact-item span {
    margin-top: 1rem;
    font-size: 1.2rem;
}